.stu .bg_stu {
    display: block
}
.onSTU #cookie-container {
    display: none !important;
    height: 0 !important;
    opacity: 0 !important;
}
.onSTU footer {
    border-top: 1px solid var(--contentL) !important;
    background: none !important;
  }
.stu header {
    border-bottom: var(--headerL) solid var(--contentL) !important;
}
.drK.stu header {
    border-color: rgba(255, 255, 255, .15) !important;
}
.stu .blogPts {
    display: none;
}
.drK .bg_stu {
    --bg-stu: #252526;
    --clr-stu: #ffffff;
    --bdr-stu: 1px solid #ffffff26;
    --bsh-stu: 0 5px 35px rgb(0 0 0 / 7%);
}
.drK .stu-progs {
    background: #444444;
}
.s2 {
    --bg-btn: #fff;
    --clr-btn: #4b5563;
    --bsh-btn: 0 0 3px 1px rgba(0, 0, 0, .2);
    --bsh-btn-i: var(--bsh-btn);

}
.drK .s2 {
    --bg-btn: #5c5c5c75;
    --clr-btn: #d5d5d5;
    --bsh-btn: 0 0 3px 1px rgb(255 255 255 / 20%);
    --bsh-btn-i: var(--bsh-btn);

}

.bg_stu {
    --bg-stu: #fff;
    --clr-stu: #202020;
    --bdr-stu: 1px solid #e4e3e1;
    --bsh-stu: 0 5px 35px rgb(0 0 0 / 7%);

    display: none;
    max-width: 950px;
    margin: 0 auto;
    /* font-family: 'DM Sans'; */
    /* padding: 20px; */
}
/* STU */
 .stu-box-wrap {
    margin: 15px 0 30px;
    position: relative;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    width: 100%;
    padding: 20px 10px;
    border: var(--bdr-stu);
    box-shadow:0 5px 35px rgb(0 0 0 / 7%);
    background: var(--bg-stu);
    color: var(--clr-stu);
}

.stu-box-wrap h2 {
    font-weight: 700;
    margin: 10px 0 15px
}

.stu-box-wrap h3 {
    font-weight: 500;
    margin: 0 0 15px;
    font-size: 18px
}

/* button stu */
.stu-box-wrap>* {
    margin: 0 auto;
    position: relative;
    width: calc(90% - 10px);
    max-width: 750px
}

.crStu {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 12px
}

@media screen and (max-width:400px) {
    .stu-box-wrap {
        padding: 10px 5px
    }

    .stu-box-wrap h2 {
        font-size: 20px
    }

    .stu-box-wrap>* {
        max-width: 87%
    }
}

.stu-box-wrap .stu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 15px auto;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    user-select: none
}

.stu-box-wrap .stu-btn i.load svg {
    animation: elRot 2s 0s infinite linear
}

.stu-box-wrap .stu-btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .03);
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--bsh-btn-i);
    max-width: 30px;
    max-height: 30px
}

.stu-btn i svg {
    height: 20px;
    width: 20px
}

.stu-box-wrap svg {
    height: 24px;
    width: 24px;
    fill: currentColor
}

.stu-box-wrap .d .unlock>svg {
    animation: opaCity 1s 0s, bounce 2.2s 0.5s infinite;
    -webkit-animation: opaCity 1s 0s, bounce 2.2s 0.5s infinite
}

.thumbyt {
    display: block;
    padding-top: 50%;
    position: relative;
    margin: 25px auto
}

.thumbyt>.lazy {
    position: absolute;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 8px;
    box-shadow: rgb(118 118 118 / 48%) 0 0 7px 1px;
    margin: 0 auto
}

.thumbyt>.lazy:hover {
    transform: scale(1.01)
}

/*==s1==*/
.stu-box-wrap.s1 .stu-btn {
    background: #ff3838;
    border: 3px solid transparent;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px;
    color: #fff;
    transition: all .4s, color .0s, background .4s, border .4s
}

.stu-box-wrap.s1 .stu-btn:hover {
    font-size: 15.5px;
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.stu-box-wrap.s1 .stu-btn:active {
    border: 3px solid #fff;
    transition: all .4s
}

.stu-box-wrap.s1 .d .stu-btn {
    background: rgba(0, 221, 0, .5)
}

.stu-box-wrap.s1 .d .stu-btn:hover {
    box-shadow: rgba(50, 205, 50, .5) 0 3px 8px
}

.stu-box-wrap.s1 .d .stu-btn[href] {
    background: rgba(0, 221, 0, 1);
    animation: nudge 0.5s 0s;
    cursor: pointer
}

.stu-box-wrap.s1 .d .stu-btn[href]:hover {
    box-shadow: rgba(0, 221, 0, 0.5) 0 3px 8px
}

.stu-box-wrap.s1 .stu-btn:hover {
    box-shadow: rgb(255 80 80 / 50%) 0 3px 8px
}

.stu-box-wrap.s1 .stu-btn i {
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none
}

.stu-box-wrap.s1 .stu-btn.done i svg {
    animation: opaC0 0.3s 0s, opaCity 0.3s 0.3s, elRot 0.5s 0.3s linear, nudge 0.5s 0.8s
}

.stu-box-wrap.s1 svg {
    height: 22px;
    width: 22px
}

.stu-box-wrap.s1 .stu-btn i svg {
    height: 20px;
    width: 20px
}

@media screen and (max-width:500px) {
    .stu-box-wrap.s1 .stu-btn:hover {
        font-size: 13px
    }

    .stu-box-wrap.s1 .stu-btn {
        font-size: 13px;
        padding: 12px 12px
    }
}

@media screen and (max-width:400px) {
    .stu-box-wrap.s1 .stu-btn:hover {
        font-size: 13px
    }

    .stu-box-wrap.s1 .stu-btn {
        font-size: 13px;
        padding: 12px 12px
    }
}

/*=====*/

/*==s2==*/
.stu-box-wrap.s2 .stu-btn {
    background: var(--bg-btn);
    box-shadow: var(--bsh-btn);
    color: var(--clr-btn);
}

.s2 .stu-btn span {
    font-size: 17px;
    font-weight: 700
}

.stu-box-wrap.s2 .d .stu-btn {
    opacity: 0.7;
    cursor: not-allowed
}

.stu-box-wrap.s2 .d .stu-btn.unlock {
    opacity: 1;
    cursor: pointer
}

.s2 .d .unlock svg {
    color: #00ab40
}

.s2 .done i,
.s2 .unlock i {
    animation: nudge .5s 1s, opaCity 1s 0s, elRot 1s 0s
}

.s2 .done i>svg {
    color: #00ab40
}

.s2 .yt>svg,
.s2 .ytl>svg,
.s2 .ytc>svg {
    color: #ff2b2b
}

.s2 .ad>svg {
    color: #0007e0
}

.s2 .thumbyt>.lazy {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2);
    transition: all 0.4s
}

.drK .s2 .thumbyt>.lazy {
    box-shadow: 0 0 3px 1px rgb(255 255 255 / 20%)
}

.s2 .thumbyt>.lazy:hover {
    transform: scale(1.01)
}

.s2 #stuBar {
    background-color: #2563eb
}

@media screen and (max-width:498px) {
    .s2 .stu-btn span {
        font-size: 14px
    }

    .stu-box-wrap.s2 .stu-btn {
        padding: 10px 14px
    }
}

/*=====*/
.s1 .thumbyt>.lazy {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0;
    border: 4px solid #fefefe;
    transition: all 0.4s
}

.drK .s1 .thumbyt>.lazy {
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%) !important;
    background-color: #2d2d30 !important;
    color: #aaaaad !important
}

.s1 .thumbyt>.lazy:hover {
    transform: scale(1.05)
}

.stuLock {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 6px;
    border: 7px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.stuLock button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #195afe;
    color: white;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: all .4s
}

.stuLock button:hover {
    opacity: 0.8
}

.stuLock button:before {
    content: '';
    padding: 10px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='line' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.79 14.9299C17.73 16.9799 14.78 17.6099 12.19 16.7999L7.48002 21.4999C7.14002 21.8499 6.47002 22.0599 5.99002 21.9899L3.81002 21.6899C3.09002 21.5899 2.42002 20.9099 2.31002 20.1899L2.01002 18.0099C1.94002 17.5299 2.17002 16.8599 2.50002 16.5199L7.20002 11.8199C6.40002 9.21995 7.02002 6.26995 9.08002 4.21995C12.03 1.26995 16.82 1.26995 19.78 4.21995C22.74 7.16995 22.74 11.9799 19.79 14.9299Z' stroke-miterlimit='10' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25'%3E%3C/path%3E%3Cpath d='M6.89001 17.49L9.19001 19.79' stroke-miterlimit='10' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25'%3E%3C/path%3E%3Cpath d='M14.5 11C15.3284 11 16 10.3284 16 9.5C16 8.67157 15.3284 8 14.5 8C13.6716 8 13 8.67157 13 9.5C13 10.3284 13.6716 11 14.5 11Z' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25'%3E%3C/path%3E%3C/svg%3E%0A")
}

.stu-progs {
    position: relative;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden
}

#stuBar {
    background-color: #ff2b2b;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    height: 10px;
    width: 0%
}

#stuBar.s {
    background-color: #00dd00
}

#stuBar::after {
    animation: moveProgs 2s linear infinite;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    bottom: 0;
    content: "";
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

/*.cADstu > *{border:1px solid currentColor;padding:20px 0}*/
[mark-ad] {
    animation: brdCol 1s 0s infinite !important;
    border-width: 5px !important;
    border-radius: 5px !important;
    color: red !important;
    border-style: dashed !important;
    margin: 10px !important;
    z-index: 9999 !important;
    position: sticky !important;
    padding: 10px !important;
    padding-bottom: 50px !important;

}

.ft {
    display: flex;
    width: max-content;
    font-size: 14px;
    border-radius: 10px;
    margin: 20px auto 15px;
    padding: 9px 20px;
    align-items: center;
    /* border: var(--bdr-stu); */
    opacity: .7;
    font-weight: 700
}

.ft a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #ff2b2b
}

.ft a:hover {
    text-decoration: none;
    transition: 1.5s
}

.ft img {
    display: block !important;
    width: 20px;
    border-radius: 0;
    margin: 0 8px
}

.inL {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline-start: calc((var(--sideWidth) - var(--iconWidth)) /2)
}

.inL a {
    font-weight: 700;
    font-size: 18px
}

.s-AD.last {
    display: none !important
}

#link4sub-1.s-AD.last {
    display: flex !important
}

.s-AD.last[href] {
    display: flex !important;
    animation: opaC0 0.5s 0s, nudge 0.5s 0.5s
}

.bg_stu .note {
    text-align: left;
    margin: 15px auto 15px;
    border-radius: 12px;
    background: var(--bg-stu);
    border: var(--bdr-stu);
    color: var(--clr-stu);
    box-shadow: 0 5px 35px rgb(0 0 0 / 7%);
    padding: 20px;
    font-size: 96%;
}
.bg_stu .note a {
    text-decoration: none;
    color: #6200ee;
}
#msgWr {
    margin: 20px auto;
    /*animation:nudge 0.7s infinite;*/
    padding-block: 18px;
    padding-inline: 40px 20px;
    border-radius: 8px;
    color: #ff4e8d;
    background-color: #fff3f3;
    border: 1px solid #ff4e8d
}

.bg_stu .note:not(.wr):after {
    content: '' !important
}
.bg_stu .note:not(.wr)::before {
    width: 0 !important;
    opacity: 0 !important;
}
.bg_stu #notif-ad.note:not(.wr)::before {
    content: "Bước 1: Bấm vào quảng cáo được đánh dấu (sẽ tự động chuyển đến sau vài giây). \A Bước 2: Ở lại trang quảng cáo đó khoảng 5 giây. \A Bước 3: Quay lại và tiếp tục." !important;
    white-space: pre-line !important;
    display: block !important;
    width: 100% !important;
    border-radius: 0 !important;
    background: 0 !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.adStu {
    display: block;
    width: 100%;
    height: 300px;
    border: var(--bdr-stu);
    box-shadow: var(--bsh-stu);
    background: var(--bg-stu);
    color: var(--clr-stu);
    border-radius: 12px;
}

/* Keyframes Animation */
@-webkit-keyframes bounce {
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    40%,
    60% {
        -webkit-transform: rotate(-20deg) scale(1.2);
        transform: rotate(-20deg) scale(1.2)
    }

    50% {
        -webkit-transform: rotate(20deg) scale(1.2);
        transform: rotate(20deg) scale(1.2)
    }

    70% {
        -webkit-transform: rotate(0) scale(1.2);
        transform: rotate(0) scale(1.2)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounce {
    30% {
        transform: scale(1.2)
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2)
    }

    50% {
        transform: rotate(20deg) scale(1.2)
    }

    70% {
        transform: rotate(0) scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes nudge {

    0%,
    100% {
        transform: translateX(0)
    }

    30% {
        transform: translateX(-5px)
    }

    50% {
        transform: translateX(5px)
    }

    70% {
        transform: translateX(-2px)
    }
}

@-webkit-keyframes nudge {

    0%,
    100% {
        transform: translateX(0)
    }

    30% {
        transform: translateX(-5px)
    }

    50% {
        transform: translateX(5px)
    }

    70% {
        transform: translateX(-2px)
    }
}

@keyframes elRot {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(720deg)
    }
}

@keyframes opaC0 {

    0%,
    100% {
        opacity: 0
    }
}

@keyframes opaCity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes moveProgs {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}

@-webkit-keyframes moveProgs {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.stu-box-wrap>.d.p .cl {
    display: none
}

.stu-box-wrap>.d .cp {
    display: none
}

.stu-box-wrap>.d.p .cp {
    display:  block !important;
    background: #f1f3ff;
    border-radius: 10px;
    margin: 15px auto;
    padding: 20px;

        /* max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center; */

}
.stu_dc_pwd_group {
    width: 100%;
}
.stu_dc_pwd_label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}
.cp button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cp button[type="submit"]:hover {
    background-color: #0056b3;
}


.stu-box-wrap>.d .cp input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #b5b5b4;
    background: #fff;
    outline: 0;
    border-radius: 7px;
    transition: 0.3s;
    padding: 16px 12px;
}

.stu-box-wrap>.d .cp button {
    display: inline-block;
}

.loading-stu {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center
}

.loading-stu::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin: 0;
    border: 2.5px solid rgba(0, 0, 0, .05);
    border-left-color: #204ecf;
    border-radius: 100%;
    animation: spinner 0.4s infinite linear;
    transform-origin: center
}

#topAd,
#botAd {
    display: flex !important;
    justify-content: center;
    align-content: center
}

.qknetwork {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center
}

.stu-alert {
    width: 100%;
    border: 1px solid #be2e3c;
    border-radius: 8px;
    padding: 16px;
    margin: 15px auto;
    text-align: left;
    background-color: #fcfcfc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #be2e3c;
    line-height: 1.5;
}

/* Sticky Ad */
.sticky-ads {
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -6px 18px 0 rgba(9, 32, 76, .1);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    z-index: 20;
}

.sticky-ads-close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0;
    position: absolute;
    right: 0;
    top: -25px;
    background-color: #fefefe;
    box-shadow: 0 -6px 18px 0 rgba(9, 32, 76, .08);
    cursor: pointer;
}

.sticky-ads .sticky-ads-close svg {
    width: 22px;
    height: 22px;
    fill: #000;
}

.sticky-ads .sticky-ads-content {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
}

/* animation stu */
@keyframes brdCol {
    0% {
        border-color: currentColor
    }

    50% {
        border-color: transparent
    }

    100% {
        border-color: currentColor
    }
}

@-webkit-keyframes brdCol {
    0% {
        border-color: currentColor
    }

    50% {
        border-color: transparent
    }

    100% {
        border-color: currentColor
    }
}

#language-selector {
    border: var(--bdr-stu);
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}